name: Continuous Integration

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'
      - 'release/*'
      - 'feature/*'

jobs:
  gradle_validation:
    name: Gradle Validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Validate
        uses: gradle/wrapper-validation-action@v1

  checkstyle:
    name: Checkstyle
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run check style
        uses: nikitasavinov/checkstyle-action@master
        with:
          fail_on_error: true
          reporter: 'github-pr-check'
          tool_name: 'checkstyle'
          level: error
          filter_mode: nofilter
          checkstyle_config: checkstyle.xml
          checkstyle_version: 9.0.1

  build:
    name: Build and Upload
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Get all tags

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set Production Build Environment
        if: github.ref == 'refs/heads/main' || github.ref_type == 'tag'
        shell: bash
        run: echo "JOURNEY_ENV=PROD" >> $GITHUB_ENV

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Move Artifacts to Root
        shell: bash
        run: cp $(find ./ -wholename '*/build/libs/*.jar') ./

      - name: Upload all artifacts
        uses: actions/upload-artifact@v3
        with:
          name: journey-artifacts
          path: |
            Journey-Bukkit-*.jar
            JourneyCitizens-*.jar
            JourneyEssentials-*.jar
            JourneyNotQuests-*.jar
